<div id="searchbar">
    <button>Tags</button>
    <label for="search">
        <span class="material-symbols-outlined">
            search
        </span>
        <input id="search" type="text" placeholder="Search by author..">

    </label>
    <!-- Bron van de icoon:   https://fonts.google.com/icons -->

</div>