
    <section>
        <!-- Met javascript wordt de image-container verplaatst naar een img element -->
        <img src="/images/me.jpg" alt="Avatar">
        <!-- <img  src="assets/mijn-foto.jpg" id="image-container" class="avatar"> -->
        <!-- <img class="loading loading-avatar" src="./images/mijn-foto.jpg" alt="Avatar van de student"> -->
        <h1 id="username" class=" loading-username">Hi keisha,</h1>
        <nav>
            <ul>
                <li><a href="/">Home </a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </section>

    <section>
        <section>
            <h2 id="text-title" class="loading-app-name">Design<span>Quotes</span></h2>
        
            <ul></ul>
        
        </section>
    </section>