
    <section>
        <!-- Met javascript wordt de image-container verplaatst naar een img element -->
        <img id="image-container" class="placeholder">
        <!-- <img class="loading loading-avatar" src="./images/mijn-foto.jpg" alt="Avatar van de student"> -->
        <h1 id="username" class=" loading-username">Hi keisha,</h1>
        <nav>
            <ul>
                <li><a href="/">Home </a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </section>