<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs");%>
<body>
    
    <header>
        <!-- De navigatie menu -->
        <%- include("./partials/nav.ejs");%>
    </header>

    <!-- Hier staat de pagina titel -->
    <%-include("./partials/page-title.ejs")%>
    <!-- De tags menu en de searchbar -->
    

    <main>
        <section id="home">
            <article>
                <h2>Welcome to Design quotes</h2>
                <p>An app with quotes from different pupular developers and designers in the world of the web.</p>
                
                <a href="/quotes"> Click here to see the quotes</a>
            </article>
        </section>
    </main>
</body>
</html>