<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head");%>
<body>
    
    <header>
        <!-- De navigatie menu -->
        <%- include("./partials/nav");%>
    </header>

    <!-- Hier staat de pagina titel -->
    <%-include("./partials/page-title")%>
    <!-- De tags menu en de searchbar -->
    

    <main>
        <section id="content">
            <article>
                <section>
                <a href="/quotes"> Click here to see the quotes</a>
            </article>
        </section>
    </main>
</body>
</html>