<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs");%>


    <body>

        <main>
            <h1>OOPS! Your offline</h1>
            <p>You currently are offline unfortunately.</p>
            <a href="/">Go to Homepage</a>
        </main>


    </body>

</html>