<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs");%>

    <body>

        <header>
            <!-- De navigatie menu -->
            <%- include("./partials/nav.ejs");%>
        </header>

        <!-- Hier staat de pagina titel -->
        <%-include("./partials/page-title.ejs")%>
            <!-- De tags menu en de searchbar -->

            <a href="/quotes">Go back</a>
            <main>
                <section>
                    <article>
                        <section>
                            <p></p>
                            <q><%= quoteData.quote %></q>
                         
                          
                        </section>
                    </article>
                </section>

            </main>
    </body>

</html>